In [28]:
import csv

In [29]:
a=['sid','sname','city','contact']

In [30]:
records=[[1,'om','bardoli',8758395761],
         [2,'sai','navsari',9909251889],
         [3,'ram','suarat',8141181876],
         [4,'radha','bharuch',9909283010],
         [5,'krishna','baroda',9930452161]]
p=[]

In [31]:
for i in range(5):
    sid=int(input("enter student id:"))
    sname=input("enter student name:")
    city=input("enter student city:")
    contact=int(input("enter student contact number:"))
    l=[sid,sname,city,contact]
    p.append(l)

enter student id:6
enter student name:gopal
enter student city:surat
enter student contact number:8890875681
enter student id:7
enter student name:shiv
enter student city:vyara
enter student contact number:8758496561
enter student id:8
enter student name:dev
enter student city:kamrej
enter student contact number:9978799180
enter student id:9
enter student name:harish
enter student city:navsari
enter student contact number:9909109202
enter student id:10
enter student name:vishal
enter student city:ahemdabad
enter student contact number:8778656751

In [33]:
with open('C:\sqlite3\student.csv','w',newline='') as f:
    file=csv.writer(f)
    file.writerow(a)
    file.writerows(records)
    file.writerows(p)

In [35]:
with open('C:\sqlite3\student.csv','r',newline='') as read:
    all_record=csv.reader(read)
    for records in all_record:
        print(records)

['sid', 'sname', 'city', 'contact']
['1', 'om', 'bardoli', '8758395761']
['2', 'sai', 'navsari', '9909251889']
['3', 'ram', 'suarat', '8141181876']
['4', 'radha', 'bharuch', '9909283010']
['5', 'krishna', 'baroda', '9930452161']
['6', 'gopal', 'surat', '8890875681']
['7', 'shiv', 'vyara', '8758496561']
['8', 'dev', 'kamrej', '9978799180']
['9', 'harish', 'navsari', '9909109202']
['10', 'vishal', 'ahemdabad', '8778656751']